body {
    margin: 0;
    background-color: #000;

}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


h1 {
    font-style: italic;
    border-color: blueviolet;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.games {
   border-color: blue;
    background-color: aqua;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: blueviolet
}
